<h4 class="text-muted pb-3 border-bottom">Home</h4>
<div class="list-group rounded-0 offset-md-3 col-md-6">
  <div
    class="list-group-item list-group-item-action"
    routerLink="/tables"
    role="button"
  >
    Tables
  </div>

  <div
    class="list-group-item list-group-item-action"
    routerLink="/products"
    role="button"
  >
    Products
  </div>

  <div
    class="list-group-item list-group-item-action"
    routerLink="/prices"
    role="button"
  >
    Prices
  </div>

  <div
    class="list-group-item list-group-item-action"
    routerLink="/orders"
    role="button"
  >
    Orders
  </div>
</div>
